prework/codepath/todo/SimpleTodo/.idea/
android/prework/taskit/.gradle/
android/prework/taskit/.idea/
android/prework/taskit/app/build/
android/week1/Flicks/.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
android/week1/Flicks/.gradle/
android/week1/Flicks/app/build/
android/week1/Flicks/build/
android/week1/Lab1/.gradle/
android/week1/Lab1/.idea/libraries/javawriter_2_1_1.xml
android/week1/Lab1/.idea/
android/week1/Lab1/app/build/
android/week2/LBookList/.gradle/
android/week2/LBookList/.idea/
android/week2/LBookList/app/build/
android/week2/NYTimesSearch/.idea/
android/week2/NYTimesSearch/app/build/
android/week2/NYTimesSearch/.gradle/
android/week2/LBookList/build/
android/week2/NYTimesSearch/build/
android/prework/taskit/build/
android/week1/Lab1/local.properties
android/week2/LBookList/local.properties
android/prework/taskit/local.properties
android/week1/Flicks/local.properties
android/week1/Lab1/build/generated/mockable-android-24.jar
android/prework/taskit/app/app.iml
android/prework/taskit/taskit.iml
android/week1/Flicks/.idea/workspace.xml
android/week1/Flicks/Flicks.iml
android/week1/Flicks/app/app.iml
android/week1/Lab1/Lab1.iml
android/week1/Lab1/app/app.iml
android/week2/LBookList/LBookList.iml
android/week2/LBookList/app/app.iml
android/week2/NYTimesSearch/NYTimesSearch.iml
android/week2/NYTimesSearch/app/app.iml
android/week2/NYTimesSearch/local.properties
